.app-logo {
    max-height:90px;
}
.page-card-head
{
    max-height: 90px;
}
.page-card-head img
{
    max-height:90px;
}
.layout-side-section
{
    background: #cbced3!important;
    border:1px solid;
}

.page-head 
{
    background: lavenderblush!important;
}

body{
    color:blue;
}

.list-row 
{
    border:1px solid lightblue !important;
}

.list-row-head
{
    border:1px solid lightblue !important;
}

.dt-row
{
    border:1px solid lightblue !important;
}
.ce-block__content
{
    border:1px solid lightblue !important;
    padding:0px !important;
    /* background: lightblue !important; */
}
.frappe-control
{
    border:1px solid lightblue !important;
    padding:5px !important
}